body{
    display: flex;
    gap: 1.5rem;
    background-color:  #161718;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}
/*#161718*/
.sidebar{
    height: 95vh;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;
    overflow-y: auto;
}

#box-1{
    align-items: center;
    font-size: clamp(1.3rem, 1.6vw, 2rem);
    background-color: #8E1616;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.box{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    font-size: clamp(0.8rem, 1.03vw, 2rem);
    background-color: #303132;
    color: #F2F2F2;
    overflow: hidden;
    margin: 0;
}

.projectswindow{
    background-color: #212224;
    color: #F2F2F2;
    height: 95vh;
    width: 72vw;
    border-radius: 15px;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 2.1rem;
}

.projectswindow h1{
    margin: 0;
    font-size: clamp(2rem, 3.5vw, 5rem);
    border-radius: 15px;
    padding: 1rem;
    background-color: #303132;
    color: #EEEEEE;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.projectswindow h2{
    margin: 0;
    padding-left: 0rem;
    font-size: clamp(1rem, 2vw, 4rem);
}

.projectswindow p{
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 1.1rem;
    font-size: clamp(1rem, 1.2vw, 2rem);
}

.projectswindow img{
    margin-left: 1.25rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    width: 35vw; height: auto;
    box-sizing: border-box;
    border: 0.1rem inset #E5E5E5;
}

.projectswindow a{

}

.highlight {
    border-radius: 0.3rem;
    padding: 0 0.3rem; 
    color: #ffffff;   
}

.highlight-link {
    display: inline-block;
    text-decoration: none;
    margin-left: 0.8rem;
    border-radius: 10px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: #d93434;
}

.highlight-link:hover {
    color: #F2F2F2;
    background-color: #d93434;
}


